* {
    margin: 0;
    padding: 0;
    border: none;
}

*, ::before, ::after {
    box-sizing: border-box;
}

:root {
    font: 0.875em / 1.5 system-ui, sans-serif;
    letter-spacing: 0.02em;
    color-scheme: light dark;

    &.dark {
        background-color: #222;
    }
}

a {
    text-decoration: none;
    color: currentcolor;
}

p, li {
    opacity: 0.9;
}

code, pre {
    font-family: "Cascadia Code", "Noto Sans Mono", Consolas, monospace;
}

menu, ol, ul {
    padding-inline-start: 1em;
}

li {
    & + li {
        margin-top: 0.2em;
    }

    &::marker {
        opacity: 0.2;
    }
}

button {
    cursor: pointer;

    .iconify:only-child {
        display: block;
    }
}

button, input, textarea {
    background: none;
    font: inherit;
    color: currentcolor;

    &:disabled {
        cursor: not-allowed;
    }
}

// Iconify 图标复用了此类
:where(.iconify) {
    display: inline-block;
    flex-shrink: 0;
    font-size: 1.2em;
    vertical-align: text-bottom;
}

